{%- macro station_statistics(data) -%}
    <style>
        .value {
            margin: 0 !important;
            padding-left: 5px;
            display: inline-block;
        }

        #delay-chart-legend {
            margin: 0 7px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        #delay-chart-legend .legend-item {
            margin-right: 30px;
        }
        #delay-chart-legend .legend-item .legend-indicator {
            position: relative;
            bottom: 2px;
        }
        #delay-chart-legend .legend-item .legend-key {
            font-size: 85%;
        }

        #delay-chart {
            margin-top: 7px;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        #delay-chart .chart-item {
            height: 21px;
        }

        ul.messages {
            margin-top: 2px;
            list-style: square;
        }
        .messages .count {
            font-size: 60%;
            opacity: 0.6;

            margin-left: 5px;
        }
        .messages li + li {
            margin-top: 0;
        }

        .separator {
            height: 14px;
        }
    </style>

    {% set colors = {
        'good': '#179617',
        'slightly': '#f7cc40',
        'much': '#ff9121',
        'extreme': '#ff413a'
    } %}
    {% macro color_for_delay_value(value) -%}
        {% if value < 1 -%}
            {{ colors['good'] }}
        {%- elif value < 6 -%}
            {{ colors['slightly'] }}
        {%- elif value < 60 -%}
            {{ colors['much'] }}
        {%- else -%}
            {{ colors['extreme'] }}
        {%- endif %}
    {%- endmacro %}

    <div class="content">
        <div>
            <span class="smaller-text">Durchschnitt:</span>
            <h3 class="value" style="color: {{ color_for_delay_value(data.delay_avg) }}">
                +{{ data.delay_avg | round(2) }}min
            </h3>
        </div>
        <div>
            <span class="smaller-text">Top:</span>
            <h4 class="value" style="color: {{ color_for_delay_value(data.delay_top) }}">
                +{{ data.delay_top }}min
            </h4>
        </div>

        <div class="separator"></div>

        <span class="smaller-text">Verteilung:</span>
        {% set delay_chart_data = [
            [ '< 1 Min',  color_for_delay_value(0),  data.delay_count_good ],
            [ '< 6 Min',  color_for_delay_value(5),  data.delay_count_slightly ],
            [ '< 60 Min', color_for_delay_value(59), data.delay_count_much ],
            [ 'mehr',     color_for_delay_value(99), data.delay_count_extreme ],
            [ 'Ausfall',  '#6E375F',                 data.delay_count_canceled ]
        ] %}
        <div id="delay-chart-legend">
            {% for key, color, count in delay_chart_data %}
                <div class="legend-item">
                    <span class="legend-indicator" style="color: {{ color }}">
                        &#9632;
                    </span>
                    <span class="legend-key">
                        {{ key }}: {{ count }}
                    </span>
                </div>
            {% endfor %}
        </div>
        <div id="delay-chart">
            {% for key, color, count in delay_chart_data %}
                <div class="chart-item"
                     style="background-color: {{ color }}; flex-grow: {{ count }}; flex-shrink: 0"
                ></div>
            {% endfor %}
        </div>

        <div class="separator"></div>

        <div>
            <span class="smaller-text">Top Verspätungs-Gründe:</span>
            <ul class="messages">
                {% for message, count in data.top_delay_messages %}
                    <li>
                        <span>{{ message }}</span>
                        <span class="count">({{ count }}x)</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{%- endmacro %}
