@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.section {
  background-color: $body-background-color;
}

.hero {
  background-color: $body-background-color;
}

.box {
  background-color: $background;
}

.button {
  &.is-hovered,
  &:hover {
    background-color: darken($button-background-color, 3%);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: darken($color, 3%);
      }
    }
  }

  &.is-loading:after {
    border-color: transparent transparent $grey-light $grey-light;
  }
}

.label {
  color: $grey-lighter;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.card {
  box-shadow: none;
  border: 1px solid $border;
  background-color: darken($body-background-color, 1);
  border-radius: $radius;

  .card-image {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  .card-header {
    box-shadow: none;
    background-color: darken($body-background-color, 3);
    border-radius: $radius $radius 0 0;
  }

  .card-footer {
    background-color: darken($body-background-color, 3);
  }

  .card-footer,
  .card-footer-item {
    border-width: 1px;
    border-color: $border;
  }
}

.modal-card-body {
  background-color: $body-background-color;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
  }

  @include touch {
    .navbar-menu {
      background-color: transparent;
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      @include touch {
        .navbar-item,
        .navbar-link {
          color: $color-invert;

          &.is-active {
            color: rgba($color-invert, 0.7);
          }
        }

        .navbar-burger {
          span {
            background-color: $color-invert;
          }
        }
      }
    }
  }
}

.hero {
  .navbar {
    .navbar-dropdown {
      .navbar-item {
        color: $grey-lighter;
      }
    }
  }
}

.tabs {
  &.is-boxed {
    li.is-active a {
      background-color: $background;
    }
  }
}

.box {
  padding: 0.5rem;
  border-radius: 4px;
}
.box:not(:last-child) {
  margin-bottom: 0.7rem;
}

.section {
  padding: 1rem;
}

.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  min-width: 0;
}

* {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.text-#{$name} {
      color: $color;
    }
  }
}
