{% extends 'base.jinja2' %}


{% block title %}{{ entry.name }}{% endblock %}


{% block header %}
    <a class="button is-primary is-inverted is-outlined" href="/{{ bs_abbrev }}">
        <i class="la la-chevron-left"></i>
    </a>
    <h1 class="title is-4">{{ entry.name }}</h1>
    <span class="button-placeholder"></span>
{% endblock %}


{% block content %}
    <!--suppress CssUnusedSymbol -->
    <style>
        .separator {
            height: 14px;
        }

        .tag {
            margin-left: 5px;
        }

        .message-entry {
            display: flex;
            flex-direction: row;
        }
        .message-entry .la {
            padding-top: 4px;
            font-size: 90%;
            margin-right: 2px;
        }

        .wagon-sequence tr .wagon {
            width: 0.5ex;
            --wagon-color: #a8b4bc;
            background: var(--wagon-color);
        }
        .wagon-sequence tr .wagon.first-wagon {
            background: linear-gradient(
                -15deg, var(--wagon-color) 0%, var(--wagon-color) 80%, transparent 80%, transparent 100%
            );
        }
        .wagon-sequence tr .wagon.first-wagon.control-wagon {
            background: linear-gradient(
                -20deg, var(--wagon-color) 0%, var(--wagon-color) 50%, transparent 50%, transparent 100%
            );
        }
        .wagon-sequence tr .wagon.last-wagon {
            background: linear-gradient(
                15deg, transparent 0%, transparent 20%, var(--wagon-color) 20%, var(--wagon-color) 100%
            );
        }
        .wagon-sequence tr .wagon.last-wagon.control-wagon {
            background: linear-gradient(
                20deg, transparent 0%, transparent 50%, var(--wagon-color) 50%, var(--wagon-color) 100%
            );
        }
        .wagon-sequence tr .wagon-number,
        .wagon-sequence tr .wagon-sector,
        .wagon-sequence tr .seat-class {
            padding-left: 1.5em;
        }
        .wagon-sequence tr .wagon-number,
        .wagon-sequence tr .wagon-sector {
            width: 5ex;
        }
        .wagon-sequence tr .seat-class {
            width: 10ex;
            font-size: 90%;
            vertical-align: middle;
            opacity: 0.75;
        }
        .wagon-sequence tr .wagon-sector {
            padding-right: 3em;
        }
    </style>

    <div class="content">
        {% if entry.is_cancelled %}
            <div style="display: flex; justify-content: center;">
                <span class="tag is-warning">
                    <i class="la la-ban" style="margin-right: 5px;"></i>
                    <span>Fällt heute aus</span>
                </span>
            </div>
            <div class="separator"></div>
            <div class="separator"></div>
        {% endif %}

        {% macro time(label, scheduled, is_changed, actual, delay) -%}
            <div>
                <span class="smaller-text">{{ label }}:</span>
                <span class="{{ 'text-warning strike-text' if entry.is_changed_arrival }}">
                    {{ scheduled }}
                </span>
                {% if is_changed and actual is not none %}
                    <span class="tag is-warning">
                        {{ actual }} {% if delay is not none -%}(
                        {%- if delay > 0 -%}+{%- endif -%}
                        {{ delay }}){%- endif %}
                    </span>
                {% endif %}
            </div>
        {%- endmacro %}

        {% if entry.scheduled_arrival is not none %}
            {{ time(
                "Ankunft", entry.scheduled_arrival,
                entry.is_changed_arrival, entry.actual_arrival, entry.delay_arrival
            ) }}
        {% endif %}
        {% if entry.scheduled_departure is not none %}
            {{ time(
                "Abfahrt", entry.scheduled_departure,
                entry.is_changed_departure, entry.actual_departure, entry.delay_departure
            ) }}
        {% endif %}

        <div class="separator"></div>

        <div>
            <span class="smaller-text">Gleis</span>
            <span class="{{ 'text-warning strike-text' if entry.scheduled_platform != entry.actual_platform }}">
                {{ entry.scheduled_platform }}
            </span>
            {% if entry.scheduled_platform != entry.actual_platform %}
                <span class="tag is-warning">
                    {{ entry.actual_platform }}
                </span>
            {% endif %}
        </div>

        <div class="separator"></div>

        <div>
            <span class="smaller-text">nach</span>
            <span>{{ entry.destination }}</span>
        </div>

        <div class="separator"></div>

        <div>
            <div class="smaller-text">Zwischenhalte:</div>
            {% for stop in entry.route %}
                <span class=
                  "{{ 'text-warning strike-text' if stop.is_cancelled }} {{ 'text-info' if stop.is_additional }}"
                >
                    {{ stop.name }}
                </span>
                {% if not loop.last %}
                    <i class="smaller-text la la-angle-right"></i>
                {% endif %}
            {% endfor %}
        </div>

        <div class="separator"></div>

        {% if entry.messages %}
            <div>
                <div class="smaller-text">Meldungen:</div>
                {% for message in entry.messages %}
                    {% if message.type_ == message_type.quality_of_service %}
                        <div class="message-entry" style="color: #EFD175;">
                            <i class="la la-exclamation"></i>
                            <span class="smaller-text" style="margin-right: 5px;">{{ message.time }}</span>
                            <span>{{ message.text }}</span>
                        </div>
                    {% endif %}
                    {% if message.type_ == message_type.delay %}
                        <div class="message-entry text-warning">
                            <i class="la la-clock-o"></i>
                            <span class="smaller-text" style="margin-right: 5px;">{{ message.time }}</span>
                            <span>{{ message.text }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="separator"></div>

        {% if wagon_sequence %}
            <div>
                <div class="smaller-text">Wagenreihung:</div>
                {% if wagon_sequence.direction == 1 %}
                    <i class="la la-arrow-up"></i>
                {% endif %}
                {% if wagon_sequence.direction == -1 %}
                    <i class="la la-arrow-down"></i>
                {% endif %}
                <table class="wagon-sequence">
                    {% for wagon in wagon_sequence.wagons %}
                        <tr>
                            <td class="wagon
                                {% if wagon.position == 1 %} first-wagon {% endif %}
                                {% if wagon.position == -1 %} last-wagon {% endif %}
                                {% if wagon.is_control %} control-wagon {% endif %}
                                "></td>
                            <td class="wagon-number">{{wagon.number}}</td>
                            <td class="seat-class">{{wagon.seat_class}}</td>
                            <td class="wagon-sector">{{wagon.sector}}</td>
                            <td class="wagon-specialities">
                                {% if wagon_speciality.LOCKED in wagon.specialities %}
                                    <span class="icon">
                                        <i class="la la-unlock"></i>
                                    </span>
                                {% endif %}
                                {% if wagon_speciality.BISTRO in wagon.specialities %}
                                    <span class="icon">
                                        <i class="la la-coffee" style="position: relative; top: 2px;"></i>
                                    </span>
                                {% endif %}
                                {% if wagon_speciality.RESTAURANT in wagon.specialities %}
                                    <span class="icon">
                                        <i class="la la-cutlery"></i>
                                    </span>
                                {% endif %}
                                {% if wagon_speciality.COMPARTMENTS in wagon.specialities %}
                                    <span class="icon">
                                        <i class="la la-columns"></i>
                                    </span>
                                {% endif %}
                                {% if wagon_speciality.BIKE_ROOM in wagon.specialities %}
                                    <span class="icon">
                                        <i class="la la-bicycle"></i>
                                    </span>
                                {% endif %}
                                {% if wagon_speciality.WHEELCHAIR_PLACE in wagon.specialities %}
                                    <span class="icon">
                                        <i class="la la-wheelchair"></i>
                                    </span>
                                {% endif %}
                                {% if wagon_speciality.SLEEP in wagon.specialities %}
                                    <span class="icon">
                                        <i class="la la-bed"></i>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

    </div>
{% endblock %}
