{% extends 'base.jinja2' %}


{% block title %}Fehler{% endblock %}


{% block content %}
    <style>
        .error_message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-bottom: 42px;
        }
        .error_message h4 {
            color: #dd2b2b;
        }
        .error_message h3 {
            margin-bottom: .21em;
        }
        .error_message code {
            position: relative;
            top: -1px;

            font-size: 75%;
            color: #7d8082;
            background-color: #2c2e2f;

            border-radius: 5px;
        }
        .error_message ul {
            margin-top: .25em;

            list-style-type: square;
        }
    </style>

    <div class="content">
        <div class="error_message">
            <h4>
                {{ title }}
            </h4>
            <div>
                <span>{{ msg | safe }}</span>
                {% if msg_internal %}
                    <span>( <code>{{ msg_internal }}</code> )</span>
                {% endif %}
            </div>
        </div>

        <a class="button is-primary" href="/">
            <span class="icon">
                <i class="la la-home"></i>
            </span>
            <span>zur Startseite</span>
        </a>
    </div>
{% endblock %}
