{% extends 'base.jinja2' %}

{% from 'partials/station-tile-list.jinja2' import station_tile_list %}


{% block title %}Suche für "{{ query }}"{% endblock %}


{% block header %}
    <a class="button is-primary is-inverted is-outlined" href="/">
        <i class="la la-home"></i>
    </a>
    <h1 class="title is-4">Stations-Suche</h1>
    <span class="button-placeholder"></span>
{% endblock %}


{% block content %}
    <style>
    </style>

    <div class="content">
        {% include 'partials/search-input.jinja2' %}

        {% if results %}
            {{ station_tile_list(results) }}
        {% else %}
            <h4 class="title is-4">
                Keine passende Stationen gefunden.
            </h4>
            <p>
                Versuche es nochmal mit einem neuen, allgemeineren Suchbegriff.
            </p>
        {% endif %}
    </div>
{% endblock %}
