{% extends 'base.jinja2' %}

{% from './partials/station-entries-list.jinja2' import station_entries_list %}
{% from './partials/station-statistic-display.jinja2' import station_statistics %}
{% from 'partials/station-tile-list.jinja2' import station_tile_list %}


{% block title %}{{ name }}{% endblock %}

{% block head %}
    <meta http-equiv="refresh" content="300">
{% endblock %}


{% block header %}
    <span class="button-placeholder"></span>
    <span>
        <i class="la la-refresh"></i> {{ time }}
    </span>
    <span class="button-placeholder"></span>
{% endblock %}


{% block content %}
    <!--suppress CssUnusedSymbol -->
    <style>
        .loading-overlay {
            display: none;
        }

        .content-container {
            max-width: unset;
            width: 100%;

            display: grid;
            grid-template-columns: 40% auto;
        }
        .content-container > div {
            margin: 0 7ex;

            display: flex;
            flex-direction: column;
        }

        .title {
            text-align: center;
        }
    </style>

    <div>
        {{ station_tile_list(tile_data) }}
        <style>
            .station-list {
                justify-content: center;
            }
        </style>
        <hr/>
        {% if stats.delay_top > 0 %}
            {{ station_statistics(stats) }}
        {% else %}
            <h4 class="title is-4">
                Keine Verspätungen!
            </h4>
        {% endif %}
    </div>
    <div>
        {{ station_entries_list(entries, bs_abbrev) }}
    </div>

{% endblock %}
