{% extends 'base.jinja2' %}


{% block title %}{{ name }}{% endblock %}


{% block header %}
    <a class="button is-primary is-inverted is-outlined" href="/{{ bs_abbrev }}">
        <i class="la la-chevron-left"></i>
    </a>
    <h1 class="title is-4">{{ name }}</h1>
    <span class="button-placeholder"></span>
{% endblock %}


{% block content %}
    <style>
        .button.is-fullwidth {
            margin: 5px;
        }

        .photo {
            margin: 0 15px;
        }
        .photo img {
            width: 100%;
            height: auto;
        }
    </style>

    <div class="content">
        <div>
            <span class="smaller-text">Kürzel:</span>
            <span>
                {{ bs_abbrev }}
            </span>
        </div>

        <h3>Links</h3>
        <a class="button is-primary is-fullwidth"
           href="https://www.bahnhof.de/service/search/bahnhof-de/520608?query={{ name }}#docs"
        >
            <span class="icon">
                <i class="la la-external-link"></i>
            </span>
            <span>
                mehr Infos
            </span>
        </a>
        <a class="button is-primary is-fullwidth" href="?mode=statistics">
            <span class="icon">
                <i class="la la-bar-chart"></i>
            </span>
            <span>
                Verspätungs-Statistik
            </span>
        </a>
        {% if is_fav %}
            <a class="button is-primary is-fullwidth" href="?mode=removeFav">
                <span class="icon">
                    <i class="la la-star"></i>
                </span>
                <span>
                    als Favorit entfernen
                </span>
            </a>
        {% else %}
            <a class="button is-primary is-fullwidth" href="?mode=addFav">
                <span class="icon">
                    <i class="la la-star-o"></i>
                </span>
                <span>
                    als Favorit hinzufügen
                </span>
            </a>
        {% endif %}
        <a class="button is-primary is-fullwidth" href="?mode=dashboard">
            <span class="icon">
                <i class="la la-desktop"></i>
            </span>
            <span>
                als Dashboard anzeigen
            </span>
        </a>

        {% if photo_url %}
            <h3>Bahnhofs-Bild</h3>
            <div class="photo">
                <img src="{{ photo_url }}" alt="Bahnhofs-Bild">
            </div>
        {% endif %}
    </div>
{% endblock %}
