{% extends 'base.jinja2' %}

{% from './partials/station-statistic-display.jinja2' import station_statistics %}


{% block title %}Statistiken für {{ name }}{% endblock %}


{% block header %}
    <a class="button is-primary is-inverted is-outlined" href="/{{ bs_abbrev }}">
        <i class="la la-chevron-left"></i>
    </a>
    <h1 class="title is-4">{{ name }}</h1>
    <span class="button-placeholder"></span>
{% endblock %}


{% block content %}
    {{ station_statistics(stats) }}
{% endblock %}
